.chat {
  border-top: 1px solid #333333;
}

.chat-contact-picture {
  width: 43px;
  height: 43px;
  z-index: 3;
  margin-left: 20px;
  margin-right: 10px;
  background-image: url('../../images/photo-mikhael.png');
  position: relative;
}

.minimized .chat-contact-picture {
  margin-left: 8px;
  margin-right: 0;
  transition: $transition;
}

.minimized .chat-contact-name {
  display: none;
}

.chat-contact-list {
  display: block;
}

.sidebar.minimized .chat-contact-list {
  margin-top: 20px;
}

.chat-contact {
  display: inline-flex;
}

.chat-group {
  padding-left: 20px;

  h5 {
    text-transform: uppercase;
    color: $color-hamburger;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}

.chat-contact-name {
  padding-top: 10px;

  a {
    vertical-align: middle;
    font-size: 14px;
    color: $color-chat-contact;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
}

.chat-contact-picture .dot {
  position: absolute;
  top: -2px;
  right: -2px;
  height: 12px;
  width: 12px;
  background-color: $color-tertiary;
  border-radius: 50%;
  z-index: 4;
}
