.dashboard-links {
  background-color: $color-light;
  border-left: 1px solid #008B8B;
  border-right: 1px solid #008B8B;
  border-bottom: 1px solid #008B8B;
  margin-left: 20px;
  margin-right: 20px;
}

.row-links-item {
  width: 100%;
}

.links-wrapper {
  border-bottom: 1px solid #008B8B;
}

.row-links-item {
  border-top: 1px solid #008B8B;
}

.page-name {
  font-size: 18px;
  font-weight: 700;
  color: $color-text-primary;
  padding-left: 20px;
}

.page-link {
  text-decoration: none;
  color: $color-text-secondary;
}

.row-icons .icon-links, .icon-trash {
  opacity: 0;
  color: $color-text-primary;
  transition: all 1s;
  text-decoration: none;
}

.row-links-item:hover .icon-links, .row-links-item:hover .icon-trash {
  opacity: 1;
}

.icon-trash:before {
  font-size: 18px;
  color: $color-text-primary;
  vertical-align: middle;
}

.row-links-item:hover {
  background-color: $color-background;
  cursor: pointer;
}

.row-icons .icon-links:hover::before {
  color: $color-secondary;
}

.row-icons .icon-trash:hover::before {
  color: $color-secondary;
}

.page-link:hover {
  text-decoration: underline;
}

.links-container {
  margin-bottom: 20px;
}

.row-icons {
  width: 100%;
}
