.dashboard-links {
  background-color: $color-light;
  border-bottom: 1px solid #e3e3e3;
}

.row-links-item {
  width: 100%;
  transition: $transition;
}

.links-wrapper {
  border-bottom: 1px solid #e3e3e3;
}

.row-links-item {
  border-top: 1px solid #e3e3e3;
}

.page-name {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #a6a6a6;
  padding-left: 20px;
}

.page-link {
  text-decoration: none;
  color: #a5bbc8;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.row-icons .icon-links, .icon-trash {
  opacity: 0;
  color: $color-dashboard-text;
  transition: all 1s;
  text-decoration: none;
}

.row-links-item:hover .icon-links, .row-links-item:hover .icon-trash {
  opacity: 1;
}

.icon-trash:before {
  font-size: 18px;
  color: $color-dashboard-text;
  vertical-align: middle;
}

.row-links-item:hover {
  background-color: $color-background;
  cursor: pointer;
}

.row-icons .icon-links:hover::before {
  color: $color-secondary;
}

.row-icons .icon-trash:hover::before {
  color: $color-secondary;
}

.page-link:hover {
  text-decoration: underline;
}

.row-icons {
  width: 100%;
}

@media(max-width: 767px) {
  @include grid('sm');

  .row-links-item .icon-links, .row-links-item .icon-trash {
    opacity: 1;
  }
}

@media(min-width: 768px) {
  @include grid('md');

  .row-links-item {
    height: 56px;
    line-height: 56px;
  }

  .row-links-item .icon-links, .row-links-item .icon-trash {
    opacity: 1;
  }
}

@media(min-width: 992px) {
  @include grid('lg');

  .row-links-item .icon-links, .row-links-item .icon-trash {
    opacity: 0;
  }
}
