.dashboard-statistics {
  background-color: $color-light;
  border-bottom: 1px solid #e3e3e3;
  margin-top: 0;
  display: flex;
  padding: 12px 0;
}

.calendar {
  display: flex;
  justify-content: center;
  padding-top: 33px;
  padding-bottom: 33px;
}


@media(max-width: 767px) {
  @include grid('sm');

  .stats-row {
    flex-direction: column;
  }

  .calendar-border {
    flex-direction: column;
  }

  .date-picker {
    flex-direction: column;

    .btn {
      margin: 10px auto;
    }
  }

  .hidden-icon {
    display: block!important;
  }
}
