.dashboard-statistics {
  background-color: $color-light;
  border-left: 1px solid #008B8B;
  border-right: 1px solid #008B8B;
  border-bottom: 1px solid #008B8B;
  margin: 0 20px;
  justify-content: center;
}
