.sidebar {
  height: 100vh;
  width: $sidebar-width-lg;
  background-color: $color-sidebar-background;
  color: $color-light;
  border: 1px solid #008B8B;
  position: fixed;
  top: 10px;
  z-index: 2;
  transition: $transition;
}

.sidebar.minimized {
  width: $sidebar-width-sm;
  transition: $transition;

  .menu .logo .logo-icon {
    display: none;
  }
}

.minimized h1,
.minimized .menu-pages-title,
.minimized .chat-group {
  display: none;
}

.minimized .logo a {
  margin-left: 22px;
}

.menu-pages-title {
  color: $color-text-primary;
}

.logo {
  display: flex;
  height: 60px;
  justify-content: space-between;

  a {
    margin: 21px 22px;
    color: $color-hamburger;
  }
}

.hamburger {
  height: 18px;

  i {
    font-size: 18px;
    width: 16px;
    height: 18px;
    line-height: 18px;
  }
}

.menu-pages {
  padding: 0;
  display: block;
  border-bottom: 1px solid $color-text-primary;

  ul {
    display: block;
    list-style-type: none;
    float: left;
    line-height: 42px;
    padding: 0;
    width: 100%;

    li {
      width: 100%;

      a {
        display: block;
        text-decoration: none;
        margin: 5px 0;
      }
    }
  }
}

.menu-pages .hidden-topbar {
  display: none;
}

.menu-pages .hidden-topbar.visible {
  display: block;
}

ul.hidden-topbar.visible {
  margin-top: 0;
}

.menu-pages ul li a {
  &:hover {
    border-left: 4px solid $color-secondary;
  }

  span {
    padding-left: 20px;
  }

}

.menu-pages ul
.icon-general:before,
.icon-details:before,
.icon-links:before,
.icon-banners:before,
.icon-personaldata:before,
.icon-payout:before,
.icon-postback:before,
.icon-wallet:before,
.icon-notification:before,
.icon-profile:before,
.icon-quit:before,
.icon-arrow-down:before {
  font-size: 18px;
  color: $color-text-primary;
  vertical-align: middle;
}

.icon-general:before {
  content: "\004b";
}

.icon-details:before {
  content: "\004a";
}

.icon-links:before {
  content: "\004c";
}

.icon-banners:before {
  content: "\0047";
}

.icon-personaldata:before {
  content: "\0053";
}

.icon-payout:before {
  content: "\0052";
}

.icon-postback:before {
  content: "\0055";
}

.logo-icon {
  background-image: url("../../images/logo.png");
  width: 86px;
  height: 23px;
  margin-left: 20px;
  margin-top: 18px;
}
