.topbar {
  background-color: $color-light;
  //box-shadow: 0 0 10px #DCDCDC;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  height: 60px;
  position: fixed;
  z-index: 1;
  float: right;
  width: 100%;
  top: 0;
  right: 20px;

  ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: right;
      height: 100%;
      border-left: 1px solid #e3e3e3;

      &:hover, .dropdown:hover .dropbtn {
        background-color: $color-background;
      }
    }
  }
}

.topbar.hidden {
  display: none;
}

.topbar ul li a {
  display: inline-block;
  height: 83.333333%;
  padding: 0 20px;
  text-decoration: none;
  line-height: 42px;
  margin-top: 10px;

}

/* dropdown */

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-light;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #DCDCDC;
  z-index: 1;

  a {
    color: #9c9c9c;
  }
}

.topbar .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 21px;
  margin-top: 0;
}

.dropdown-content a:hover {
  background-color: $color-background;
}

.topbar .dropdown:hover .dropdown-content {
  display: block;
}

li .dropbtn,
.dropdown-content {
  font-size: 20px;
  color: $color-hamburger;
  font-weight: 400;
}

.icon-wallet:before,
.icon-notification:before,
.icon-profile:before,
.icon-quit:before {
  font-size: 16px;
  vertical-align: middle;
}

.icon-wallet:before,
.icon-arrow-down:before {
  margin-bottom: 7px;
}

.icon-wallet:before {
  content: "\0062";
  width: 17px;
  height: 18px;
  color: #9c9c9c;
}

.icon-arrow-down {
  line-height: 10px;
}

.icon-arrow-down:before {
  content: "\0041";
  width: 11px;
  height: 7px;
  color: #9c9c9c;
  font-size: 10px;
}

/* notification */

.notification {
  position: relative;
  padding-top: 11px;
  padding-bottom: 5px;
}

.notification .dot {
  position: absolute;
  top: 12px;
  right: 18px;
  height: 8px;
  width: 8px;
  background-color: $color-secondary;
  border-radius: 50%;
}

.icon-notification:before {
  content: "\0050";
  width: 16px;
  height: 17px;
  color: #9c9c9c;
}

/* profile */

.profile {
  font-size: 13px;
  color: #56819f;
  font-weight: 300;
  padding-top: 11px;
  padding-bottom: 5px;
}

.icon-profile:before {
  content: "\0056";
  margin-right: 10px;
  width: 17px;
  height: 17px;
  color: #9c9c9c;
}

.profile-name {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 42px;
  font-weight: 300;
  color: #56819f;
}

/* quit */

.icon-quit:before {
  content: "\0057";
  width: 19px;
  height: 15px;
  color: #9c9c9c;
}

.amount {
  color: #9c9c9c;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 42px;
}
