* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-light;
}

/* grid */
.container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.col-1 {
  width: $column-width;
}

.col-2 {
  width: 2*$column-width;
}

.col-3 {
  width: 3*$column-width;
}

.col-4 {
  width: 4*$column-width;
}

.col-5 {
  width: 5*$column-width;
}

.col-6 {
  width: 6*$column-width;
}

.col-7 {
  width: 7*$column-width;
}

.col-8 {
  width: 8*$column-width;
}

.col-9 {
  width: 9*$column-width;
}

.col-10 {
  width: 10*$column-width;
}

.col-11 {
  width: 11*$column-width;
}

.col-12 {
  width: 12*$column-width;
}

h1 {
  font-size: 30px;
  margin: 20px 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
  text-transform: capitalize;
  color: #a6a6a6;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 18px;
}

@media(max-width: 767px) {
  @include grid('sm');

  .stats-row {
    flex-direction: column;
  }

  .main {
    margin-left: $sidebar-width-sm;
  }

  .row-links-item {
    flex-direction: column;
  }

  .page-name, .link-address {
    text-align: center;
    padding-left: 0!important;
  }

  .row-links-item .icon-links, .row-links-item .icon-trash {
    opacity: 1;
  }
}

@media(min-width: 768px) {
  @include grid('md');

  .row-links-item {
    height: 56px;
    line-height: 56px;
  }

  .main {
    margin-left: $sidebar-width-sm;
  }

  .row-links-item .icon-links, .row-links-item .icon-trash {
    opacity: 1;
  }
}

@media(min-width: 992px) {
  @include grid('lg');

  .main {
    margin-left: $sidebar-width-lg;
  }

  .row-links-item .icon-links, .row-links-item .icon-trash {
    opacity: 0;
  }
}

@media(min-width: 1200px) {
  @include grid('xl');
}
