/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$color-light: #ffffff;
$color-dark: #191919;
$color-dark1: #2F4F4F;
$color-background: #D3D3D3;
$color-text: #778899;
$color-secondary: orange;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

/* Widths */
$column-width: 8.333333%;
