/* Colors */
$color-light: #ffffff;
$color-background: #f5f5f2;
$color-text-secondary: #6495ED;
$color-secondary: #f58220;
$color-tertiary: #32CD32; //limegreen
$color-sidebar-background: #191919;
$color-hamburger: #999999;
$color-sidebar-hover: #2f2f2f;
$color-dashboard-text: #a6a6a6;
$color-chat-contact: #56819f;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */


/* Widths */
$column-width: 8.333333%;
$sidebar-width-lg: 188px;
$sidebar-width-sm: 60px;

/* Transition */
$transition: all 0.5s;

/* Widths */
$mobile-width: 576;
