/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$color-light: #ffffff;
$color-dark: #191919;
$color-dark1: #2F4F4F;
$color-background: #f1f1f1;
$color-text-primary: #778899;
$color-text-secondary: #6495ED;
$color-secondary: #f58220;
$color-tertiary: #32CD32; //limegreen
$color-sidebar-background: #191919;
$color-hamburger: #999999;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

/* Widths */
$column-width: 8.333333%;
$sidebar-width-lg: 188px;
$sidebar-width-sm: 60px;

/* Transition */
$transition: all 0.5s;

/* Widths */
$mobile-width: 576;
