.main {
  max-width: 1280px;
  margin: 0 20px 0 250px;
  background-color: $color-background;
}

.main.expanded {
  margin: 0 20px 0 60px;
  transition: $transition;
}

.home {
  padding-top: 80px;
}

.date-picker {
  display: flex;
  justify-content: center;
}

.stats {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.stats-row {
  justify-content: space-between;
}

.stats-item {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #008B8B;

  h4 {
    margin: 10px 0;
  }

  p {
    margin: 10px 0;
  }
}

.chart {
  padding-top: 30px;
}

img {
  object-fit: scale-down;
}

.row-links {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
