.btn {
  background-color: $color-secondary;
  border-radius: 5px;
  height: 40px;
  color: $color-light;
  line-height: 40px;
  text-decoration: none;
  transition: $transition;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 42px;

  i {
    line-height: 40px;
  }
}

.btn:hover {
  opacity: 0.8;
}

.btn-refresh {
  margin: 0 10px;
  width: 40px;

  i {
    width: 15px;
    height: 15px;
    padding-left: 12px;
  }
}

.btn-add {
  width: 127px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
