.calendar-border {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  vertical-align: middle;

  a .icon-calendar:before {
    width: 13px;
    height: 13px;
    margin: 10px 10px;
    color: #888888;
  }
}

#start-date, #end-date {
  width: 120px;
  border: none;
  padding-left: 10px;
  margin-left: 10px;
  color: #888888;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.hidden-icon {
  display: none;
}
